@model ConexionBd.Models.User

<h1>Detalles del Usuario</h1>

<p><strong>Id:</strong> @Model.id</p>
<p><strong>Nombres:</strong> @Model.Names</p>
<p><strong>Apellidos:</strong> @Model.LastNames</p>
<p><strong>Correo Electrónico:</strong> @Model.Email</p>
<p><a asp-action="Index">Volver al Listado</a></p>
