<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=tabl, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Correo</td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Nombres</td>
                <td>@user.Apellidos</td>
                <td>@user.Correo</td>
            </tr>

        }
    </table>
</body>
</html>